.video{
    background: #273746;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;

}

.video p{
    background: #273746;
    margin: 5px;
    padding: 5px;
}